.head-wrapper {
    padding-block: 2rem;
}

.head__title {
    position: relative;
    z-index: 10;
}

.head__title--areola {
    position: absolute;
    width: 490px;
    height: 214px;
    left: 6px;
    top: -50px;
    z-index: -10;
    background: linear-gradient(104.49deg, rgba(249, 223, 173, 0.72) 13.73%, #D2C6E4 82.96%);
    filter: blur(60px);
    border-radius: 98.5px;
}

.head__image {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head__image--areola {
    position: absolute;
    width: 314px;
    height: 269px;
    left: 75px;
    top: 55px;
    z-index: -10;
    background: rgba(255, 224, 152, 0.8);
    filter: blur(90px);
    border-radius: 69px;
}

.coin-card {
    box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.2);
    border-radius: 16px;
}

.trend-table {
    margin-top: 20px;
}

.news-card {
    padding: 0;
    min-height: 100%;
    border-radius: 1rem;
    box-shadow: 0px 30px 30px -25px rgba(15, 15, 15, 0.2);
}
.news-card__cover {
    flex: 0 0 30%;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}

.news-card__cover--img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
}

.news-card__content {
    padding: 9px 12px;
}

.news-card__content--description {
    margin-top: auto;
}

.news-card__content--source {
    margin-top: auto;
    flex-wrap: wrap;
}

.news-card__content--time {
    opacity: 0.7;
}




@media (max-width: 576px) {
    .head__image img{
        width: 330px !important
    }
    .head__image--areola {
        width: 250px;
        height: 230px;
        left: 0;
    }
    h1{
        font-size: 24px !important;
    }
    .news-card__cover--img {
        object-fit: cover;
    }
    .news-card__content--time {
        font-size: 12px;
    }
}

@media (max-width: 768) {
    .head__image img{
        width: 380px !important
    }
}