@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.body {
  font-family: "DM Sans", sans-serif;
}

.layout {
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  padding-inline: 50px;
  padding-block: 1rem;
}

.link {
  color: #54c880
}

.link:hover {
  color: #6de39a
}