@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.body {
  font-family: "DM Sans", sans-serif;
}

.layout {
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  padding-inline: 50px;
  padding-block: 1rem;
}

.link {
  color: #54c880
}

.link:hover {
  color: #6de39a
}

footer {
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  z-index: 10;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footerBlurEffect {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -46.54px;
  bottom: -30px;
  z-index: -10;

  background: rgba(185, 133, 225, 0.4);
  filter: blur(90px);
  border-radius: 207px;
  transform: rotate(32.69deg);

}


@media (max-width: 576px) {
  .menu {
    display: none;
  }
}